<robot name="weight_on_world" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:arg name="tf_prefix" default="" />

  <xacro:include filename="$(find dynaarm_end_effectors)/urdf/freedrive_handle.urdf.xacro" />

  <link name="base_link" />

  <!-- Add platform to world -->
  <xacro:freedrive_handle tf_prefix="$(arg tf_prefix)"
              parent="base_link">
    <origin xyz="0 0 0.0" rpy="0 0 0" />
  </xacro:freedrive_handle>

</robot>
